@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
*{
    box-sizing: border-box;
}
body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;

}
main {
    margin: auto;
    overflow: hidden;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 35px;
    color: white;
    padding: 10px 0px 0px 0px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    line-height: 25px;
    padding: 5px 0px 50px 0px;
}

.block1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 21px 0px 0px 21px;
    padding: 50px;
}

.button1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: hsl(31, 77%, 52%);
    border-color: hsl(31, 77%, 52%);
    border-radius: 20px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
}
.button1:hover {
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
}
.block2 {
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}

.button2 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: hsl(184, 100%, 22%);
    border-color: hsl(184, 100%, 22%);
    border-radius: 20px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
}
.button2:hover {
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
}
.block3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 21px 21px 0px;
    padding: 50px;
}

.button3 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: hsl(179, 100%, 13%);
    border-color: hsl(179, 100%, 13%);
    border-radius: 20px;
    border-style: solid;
    padding: 10px 25px 10px 25px;
}
.button3:hover {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
}